.loadContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 40px;
}

.btnContainer {
  margin-top: 20px;
}

.dragger {
  background-color: #ffffff;
  border-radius: 8px;
}