.LayoutWrapper {
  height: 100vh;
}

.HeaderWrapper {
  background-color: #def2ff4a;
  height: auto;
  border: 1px solid lightgrey;
  padding: 30px 40px 10px 40px;
}

.SiderWrapper {
  background-color: white;
}

.ContentWrapper {
  background-color: white;
  height: 100vh;
}
